DOMAIN_NAME=egaudich.42.fr

MYSQL_DATABASE=wordpress
MYSQL_USER=wp_user

WP_TITLE=Inception
WP_ADMIN_USER=change_me_not_admin
WP_ADMIN_EMAIL=admin@egaudich.42.fr
WP_USER=wp_editor
WP_USER_EMAIL=editor@egaudich.42.fr
